

<div >

<form class="form-horizontal">
    <div class="form-group col-md-4 ">
      <label for="exampleInputEmail1">User</label>
      <input type="text" class="form-control " name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User" [(ngModel)]= "usuario.login"/>
     
    </div>
    <br>
    <div class="form-group col-md-4 ">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="exampleInputPassword1" placeholder="Password" [(ngModel)]= "usuario.senha"/>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" (click)="logar()">Login</button>
  </form>

</div>