

<div >

<form class="form-horizontal">
    <div class="form-group col-md-4 ">
      <label for="exampleInputEmail1">User</label>
      <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User">
     
    </div>
    <br>
    <div class="form-group col-md-4 ">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <br>
    <button type="submit" routerLink="/admin/pessoas" class="btn btn-primary">Login</button>
  </form>

</div>