



<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Nome</th>
			<th scope="col">Idade</th>
			<th scope="col">Detalhe</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let pessoa of lista; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
                {{ pessoa.nome }}
			</td>
			<td>
                {{ pessoa.idade  }}
            </td>
            <td >
                <input type="button"  routerLink="/admin/pessoas/details/:id" value="Ver">
            </td>
			
		</tr>
	</tbody>
</table>

<button (click)="abrirModal(content)" >Nova pessoa</button>

<ng-template #content let-modal>
	<div class="modal-header">
	<h4 class="modal-title">Modal title</h4>
	<button type="button" class="btn-close" aria-label="Close"
	(click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">

		<app-pessoasdetails (retorno)="addNaLista($event)" ></app-pessoasdetails>

	</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-light"
	(click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>

