table {
    width: 50%;
    max-width: 500px;
  }

  th {
    background-color: #9282a7;
   
    text-align: left;
    border-bottom: 2px solid #000000; 
  }
  
  td {
    padding: 8px;
    border-bottom: 1px solid #380c88; 
  }